.meal {
    &-main {
        @include respond(phone) {
            height: 100%;
            display: flex;
        }
        @include width-display;
        @include flex-center;
        height: $non-header-height;
    }

    &-items {
        @include respond(phone) {
            @include flex-center;
            flex-direction: column;
        }
        display: inherit;
        flex-direction: row;
        height: 20rem;
        width: 70rem;
        justify-content: space-evenly;
    }

    &-image {
        @include respond(phone) {
            width: 25rem;
            height: 25rem;
        }
        border: 0.3rem solid white;
        border-radius: 1rem;
        width: 20rem;
        height: 20rem;
        object-fit: cover;
    }

    &-title-buttons {
        @include respond(phone) {
            width: 100%;
        }
        height: inherit;
        display: inherit;
        flex-direction: column;
        justify-content: space-evenly;
        width: 20rem;
        text-align: center;
    }

    &-title {
        color: white;
        height: 7rem;
        text-align: center;
    }

    &-buttons {
        @include respond(phone) {
            width: 100%;
        }
        margin-top: -2rem;
        display: inherit;
        justify-content: space-evenly;
    }
}