$max-width: 900px;
$non-header-height: 50rem;

@mixin width-display {
    width: inherit;
    display: inherit;
}

@mixin flex-center {
    justify-content: center;
    align-items: center;
}

@mixin mobile {
    @media (max-width: $max-width) {
        @content
    }
};

@mixin desktop {
    @media (min-width: $max-width) {
        @content
    }
}